.floating-label-field
{
    position:relative;
    margin-bottom:6px;
}

.floating-label-field > input,
.floating-label-field > select
{
    height:45px;   
}
.floating-label-field > label
{
    position:absolute;
    top: 10px;
    left: 14px;
    font-weight:normal;
    color:#AAAAAA;
    transition:0.2s;
    cursor:text;

}

.floating-label-input-with-value
{
    padding:16px 4px 8px 16px;

}

.floating-label-with-value
{
    position:absolute;
    top: 3px !important;
    left: 5px !important;
    transition:0.2s;
    font-size:11px !important;
}

.floating-label-validator
{
    color:#CC0000;
    position:absolute;
    right:5px;
    top:4px;
    font-size:11px !important;
}
